{% if coupang_carousel_enabled %}
<aside class="coupang-ad-aside">
    <div class="coupang-ad-rail">
        <iframe class="coupang-ad-frame" src="https://ads-partners.coupang.com/widgets.html?id=997602&template=carousel&trackingCode=AF6844979&subId=&width=140&height=640&tsource=" width="200" height="640" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
        <a class="coupang-ad-card" href="https://link.coupang.com/a/eDtbnycaRg" target="_blank" referrerpolicy="unsafe-url">
            <img src="https://ads-partners.coupang.com/banners/997623?subId=&traceId=V0-301-5f4982b43e2b4522-I997623&w=200&h=200" alt="">
        </a>
        <a class="coupang-ad-card" href="https://link.coupang.com/a/eDtcE5ScoK" target="_blank" referrerpolicy="unsafe-url">
            <img src="https://ads-partners.coupang.com/banners/997606?subId=&traceId=V0-301-7e6e8eb8ddfa1bfb-I997606&w=200&h=200" alt="">
        </a>
    </div>
    <p class="coupang-disclosure">이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.</p>
</aside>
{% endif %}
